language: node_js
node_js:
 - "8"

os:
 - linux  

install:
- npm install

stages:
 - test
 - deploy

jobs:
 include:
   - stage: test
     name: test
     script: npm run test
   - stage: deploy
     name: deploy
     if: commit_message =~ release to npm
     script:
       - npm version
     deploy:
       provider: npm
       email: chenfengjw@hotmail.com
       api_key: "$NPM_TOKEN"
       skip_cleanup: true
       on:
         tags: true
